[Desktop Entry]
Type=Application
Name=JustTalk
Comment=Lightweight global speech input app
Exec=just-talk-slim
Icon=justtalk
Terminal=false
Categories=Utility;Audio;
